<h2>Edit task</h2>

<form method="POST" action="/task/edit/<%= task.id %>?_method=PUT">
    <input type="text" name="task" value="<%= task.task %>">
    <button type="submit">Save</button>
    <a href="/task">Cancel</a>
</form>