<div class="jumbotron text-center mt-5">
    <h1 class="display-3">Full stack Todo-App</h1>
    <hr class="my-2">
    <h5>
        <span class="badge badge-success">Nodejs</span>
        <span class="badge badge-danger">Express</span>
        <span class="badge badge-warning">MongoDB</span>
    </h5>
</div>