
        <h2>Tasks</h2>
        <%- include('components/errorMessage.ejs') %>
        <form id="f1" action="/task" method="POST">
            <input type="text" name="task">
            <button type="submit">Add</button>
        </form>
        
        
        <hr>
        <div>
            <% tasks.forEach(task => { %>
                <div> <%= task.task %> </div>
                <a id="btn-edit" href="/task/edit/<%= task.id %>">Edit</a>
                <form method="POST" action="/task/<%= task.id %>?_method=DELETE">
                    <button type="submit">Delete</button>
                </form>
                <hr>
            <% }) %>
        </div>