.home-content {
    text-align: center;
    margin-top: 4rem;
}

h3.h2-home {
    color: dodgerblue;
    margin-top: 0.4rem;
}

hr.hr-home {
    width: 18rem;
}

h2.h2-home {
    font-size: 2rem;
    margin: 1rem 0;
}